.navbar {
  background-color: rgb(2, 34, 31);
  position: relative;
}

.navbar-toggler {
  background-color: rgb(2, 34, 31);
}

.navbar .navbar-nav .nav-link {
  color: rgba(207, 216, 220, 0.932);
}

.navbar .navbar-toggler {
  color: rgba(207, 216, 220, 0.932);
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  background-color: rgb(2, 34, 31);
}

.navbar .navbar-collapse {
  background-color: rgb(2, 34, 31);
  justify-content: center;
}

.navbar a {
  font-weight: bold;
}

.navbar .dropdown-menu {
  background-color: rgb(2, 34, 31);
}

.dropdown-menu a {
  color: rgba(207, 216, 220, 0.932);
}

/* submenu dropdown */

.navbar ul {
  line-height: 30px;
  margin: auto;
}
.navbar li {
  rgba(207, 216, 220, 0.932)-space: nowrap;
}

.dropdown-submenu {
  position: relative;
  padding-top: 2%;
}

.dropdown-submenu a {
  text-decoration: none;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  padding-left: 5%;
}

.social-icon-nav {
  position: absolute;
  z-index: 2;
  top: 100%;
  right: 0;
  width: 200px;
  padding: 5px;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(2, 34, 31, 0.6);
  /* background-color: ghostrgba(207, 216, 220, 0.932); */
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 20px;
}
