/* Component.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top:320px;
    display: flex;
    flex-direction: row;
    color:rgb(193, 155, 118);
    font-family: Rosario;
    height:400px;
  }
  .container p {
   font-family: Rosario;
    font-size: 20px;
    color:black;
    margin-left:-120px;
  }
  .container h1{
    font-family: Rosario;
    font-size: 30px;
    color:rgb(193, 155, 118);
    margin-left:-120px;
  }
  .row {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    text-align: center;
  }
  
  .heading  {
    font-size: 30px;
    float:left;
  }
  
  .paragraph {
    font-size: 10px;
  }
  
  

 .gap{
    width:300px;
 }
 .rounded-image{
  width: 290px; /* Adjust the width as needed */
  height: 550px; /* Adjust the height as needed */
  border: 2px solid #ccc; /* Add border */
  border-radius: 200px 100px 200px 100px;
  animation: fadeInOut 6s linear infinite;
  transition: width 2s;
  transform: translateY(-200px);
  
 }
.rounded-image1{
  width: 270px; /* Adjust the width as needed */
  height: 300px;
  border-radius: 70px 70px;
  animation: fadeInOut 6s linear infinite;
  transition: width 2s;


}
@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.rounded-image:hover{
  width:330px;
  
}
