


/* box 1 cards */
.box-1 {
    font-family: "Rosario", sans-serif;
    margin-top: 5vw;
    margin-bottom: 5vw;
    padding-right: 20px;
    padding-left: 20px;
    animation: box-1 2s;
    position: relative;
  }
  
  
  .box-1a,
  .box-1b,
  .box-1c {
    border: solid 1px rgba(207, 216, 220, 0.932);
    box-shadow: 0px 0px 10px 0px rgba(207, 216, 220, 0.932);
    border-radius: 40px;
    padding: 2vw;
    line-height: 20px;
    background-color: #02221f;
    margin-left: 2vw;
    display: flex;
    justify-content: center;
    transition: 0.4s;
  }
  
  .box-1a:hover,
  .box-1b:hover,
  .box-1c:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
      -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
  }
  
  .box-1a .btn {
    background-color: rgba(207, 216, 220, 0.932);
    box-shadow: 0px 0px 10px 0px rgba(207, 216, 220, 0.932);
    font-size: calc(1vw + 0.2rem);
    font-weight: bold;
    color: rgb(2 34 31);
  }
  
  .box-1a .btn:hover {
    background-color: rgba(207, 216, 220, 0.932);
    color: rgb(2, 34, 31);
    box-shadow: 0px 0px 5px 0px rgb(2, 34, 31);
    border: solid 1px rgb(2, 34, 31);
  }
  
  
  
  