.custom-button {
    width: 140px;
    height: 40px;
    background-color: #02221F;
    text-transform: none;
    text-align: center;
    font-family : 'Rosario-Regular';
    color: white;
    padding: '10px';

    font-size: large;
}

.blue-button {
  width: 140px;
  height: 40px;
  background-color: #D2DBDE;
  text-transform: none;
  text-align: center;
  font-family : 'Rosario-Regular';
  color: black;
  padding: '10px';
  font-size: large;
  font-size:  '12px';
  &:hover {
    font-size:  '15px';

  }
}
.blue-button:hover{
  font-size:  '15px';

}

.custom-button:hover {
    background-color: #000000;
    color: white;
    transform: scale(1.2);
}
.zoom-effect {
  transition: transform 0.3s ease-in-out;
}

.zoom-effect:hover {
  transform: scale(1.1); /* Adjust scale value as needed */
}

.quick-view {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.zoom-effect:hover + .quick-view, .quick-view:hover {
  opacity: 1;
}


.arrow-button{
  box-sizing: border-box;
  display: block;
  height: 57.6px;
  width: 435.8px;
}

.rosaria-text {
  font-family:  "'Rosario', sans-serif";
}


.image-container {
    position: relative;
    display: inline-block;
  }
  
  .cart-icon {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(0%, -50%);
    background-color: rgba(123, 57, 3, 0.7); /* semi-transparent white background */
    border-radius: 60%; /* make it circular */
    padding: 10px; /* adjust padding as needed */
    transition: transform 0.3s ease-in-out;

  }
  
  .cart-icon svg {
    width: 25px; /* adjust icon size as needed */
    height: 25px;
    color: #ffffff; /* icon color */
  }
  
  .image-container:hover .cart-icon {
    opacity: 0; /* show cart icon on hover */
  }